@page
@model IndexModel

<h2>Book List</h2>
<br />
<a asp-page="Create" class="btn btn-primary">Create Book</a>
<br />
<br />
@if (Model.Message != null)
{
    <div class="alert alert-info alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        @Model.Message
    </div>

}
<br />
<br />
@if (Model.Books.Count() > 0)
{
    <div>
        <table class="table table-condensed table-hover">
            <tr>
                <th>@Html.DisplayNameFor(m => m.Books.FirstOrDefault().ISBN)</th>
                <th>@Html.DisplayNameFor(m => m.Books.FirstOrDefault().Title)</th>
                <th>@Html.DisplayNameFor(m => m.Books.FirstOrDefault().Author)</th>
                <th>@Html.DisplayNameFor(m => m.Books.FirstOrDefault().Price)</th>
                <th>@Html.DisplayNameFor(m => m.Books.FirstOrDefault().Availability)</th>
                <th></th>
            </tr>
            @foreach (var item in Model.Books)
            {
                <tr>
                    <th>@Html.DisplayFor(m => item.ISBN)</th>
                    <th>@Html.DisplayFor(m => item.Title)</th>
                    <th>@Html.DisplayFor(m => item.Author)</th>
                    <th>@Html.DisplayFor(m => item.Price)</th>
                    <th>@Html.DisplayFor(m => item.Availability)</th>
                    <th>
                        <a asp-page="Details" asp-route-id="@item.Id" class="btn btn-small btn-primary">Details</a>
                        <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-small btn-success">Update</a>
                        <a asp-page="Delete" asp-route-id="@item.Id" class="btn btn-small btn-danger">Delete</a>
                    </th>
                </tr>
            }
        </table>
    </div>
}
else
{
    <p>Add Books to your library</p>
}